{% load thumbnail%}

{%if banner%}
{%thumbnail banner.image SIZE quality=90 as im%}
<div id="banner">

{%if banner.url_active%}
<a href="{{banner.get_url_hash}}" style="border-width:0">
{% endif %}
<div id="layer-banner" style="width:{{WIDTH}}px;height:{{HEIGHT}}px;padding:10px;position:absolute; z-index:100"></div>
{%if banner.swf%}
<!--[if !IE]> -->
<object type="application/x-shockwave-flash"
	data="{{banner.swf.url}}" width="{{WIDTH}}px" height="{{HEIGHT}}px" style="position:relative; z-index:-100">
<!-- <![endif]-->
 
<!--[if IE]>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
  width="643px" height="135px">
  <param name="movie" value="{{banner.swf.url}}" />
<!--><!--dgx-->

  <param name="loop" value="true" />
  <param name="menu" value="false" />
  
      <img src="{{im.url}}" style="margin:{{ im|margin:SIZE }};padding:20px;border-width:0"/>

</object>
{%else%}

<img src="{{im.url}}" style="margin:{{ im|margin:SIZE }};padding:20px;border-width:0"/>

{%endif%}



{%if banner.url_active%}
</a>
{% endif %}

</div>
{%endthumbnail%}
{%endif%}
